{% extends "base.html" %} {% block title %}Upload Student Excell{% endblock %} {% block content %}
<div class="layout-content-container px-10 py-5">
	<div class="card mx-auto" style="max-width: 800px">
		<div class="card-header">Upload Student List Excell File</div>
		<div class="card-body">
			<form method="post" enctype="multipart/form-data">
				{% csrf_token %} {% if form.non_field_errors %}
				<div class="alert alert-error">{{ form.non_field_errors }}</div>
				{% endif %}
                {{ form.as_p }}
                <button type="submit">Upload</button>
			</form>
    {% if error %}
        <p style="color:red;">{{ error }}</p>
    {% endif %}
		</div>
	{% if assigned_classrooms %}
    <h3>Assigned Students to Classrooms:</h3>
    {% for classroom, students in assigned_classrooms.items %}
        <h4>{{ classroom }}</h4>
        <ul>
            {% for student in students %}
                <li>{{ student.surname }}, {{ student.name }} (ID: {{ student.id }})</li>
            {% endfor %}
        </ul>
    {% endfor %}
{% endif %}
	</div>
</div>
{% endblock %}
