{% comment %} Role-aware navbar {% endcomment %}
<nav class="navbar">
	<div class="flex justify-between layout-content-container">
		<a href="{% url 'home' %}" class="text-primary text-xl font-bold">TA Management</a>
		<ul class="navbar-menu">
			<li><a href="{% url 'home' %}" class="btn btn-alt text-muted">Home</a></li>


			{% if user.is_authenticated %}

			{% if user.role == user.Roles.TA %}
			<li><a href="#" class="btn btn-alt">Log Duty</a></li>
			<li><a href="#" class="btn btn-alt">My Logs</a></li>
			<li><a href="#" class="btn btn-alt">Request Leave</a></li>
			{% endif %}


			{% if user.role == user.Roles.INSTRUCTOR %}
			<li><a href="#" class="btn btn-alt">Approve Logs</a></li>
			<li><a href="#" class="btn btn-alt">Create Duties</a></li>
			{% endif %}

			{% if user.role in user.Roles.admin_roles %}
			<li><a href="{% url 'accounts:user_list' %}" class="btn btn-alt">Manage Users</a></li>
			{% endif %}

			{% if user.role == user.Roles.ADMIN or user.is_staff %}
			<li><a href="{% url 'admin:index' %}" class="btn btn-alt">Admin Dashboard</a></li>
			{% endif %}

			<li>
				<form action="{% url 'accounts:logout' %}" method="post" style="display: inline">
					{% csrf_token %}
					<button type="submit" class="btn btn-alt">Logout</button>
				</form>
			</li>
			{% else %}
			<li><a href="{% url 'accounts:login' %}" class="btn btn-alt">Login</a></li>
			{% endif %}
		</ul>
	</div>
</nav>